
.nav-title {
    font-family: "Monoton", cursive;
    font-size: 2.5rem;
    color: #1C375B;
    width: 40%;
    height:auto;
  }

  .nav-effects {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  }