
.umd-logo {
  max-width: auto;
  max-height: 50px;
  float:right;
}

.hero-title {
  font-family: "Monoton", cursive;
  font-size: 4.5rem;
  color: #1c375b;
}

.signin-button {
  border: none;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 2px 7px 14px #888888;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  color: black;
}

.hero-container {
  padding-left: 4rem;
  justify-content: start;
}

@media screen and (max-width: 991.98px) {
  .hero-container {
    padding-left: 2rem;
    justify-content: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

}
