.toggle-switch > input[type="checkbox"] {
  display: none;
}

.toggle-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 50px;
}

.toggle-switch > label::before {
  background: gray;
  /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  content: "";
  height: 26px;
  margin-top: -13px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 50px;
}
.toggle-switch > label::after {
  background: white;
  border-radius: 16px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
  content: "";
  height: 24px;
  left: 1px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.toggle-switch > input[type="checkbox"]:checked + label::before {
  background: #007bff;
  opacity: 0.8;
}
.toggle-switch > input[type="checkbox"]:checked + label::after {
  background: white;
  left: 25px;
}
